@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
/*@import url('https://fonts.googleapis.com/css?family=Muli:300,400,500,700&display=swap');*/
*
{
	margin:0;
	padding: 0;
}
body
{
	background-color: white;
	font-family: 'Montserrat';
	color: #1b1d20;
	overflow-x: hidden;
}
picture img
{
	width: 120px;
}
.maincon
{
	padding: 100px;
}
.logo
{
	width: 34px;
}
.div
{
	display: flex;
	flex-wrap: wrap;
	padding-top: 100px;
	margin-bottom: 10%;
}
.aboutme
{
	flex: 7;
}
.pt80
{
	padding-top: 80px;
}
h1,h3,h4
{
	margin-bottom: 12px;
}
h1
{
	font-size:40px;
	font-weight: bold;
}
h3
{
	font-weight: 400;
	font-size: 16px;
}
h4
{
	font-size: 22px;
	font-weight: 500;
}
p
{
	margin-top: 20px;
	/*color: #c6c6c6;*/
	font-weight: 500;
	line-height: 1.9;
}
.myphoto
{
	flex: 6;
	display: flex;
	justify-content: space-around;

}
.myphoto img
{
	width: 430px;
	/*height: 500px;*/
	transition: 1s;
	/*box-shadow: rgba(0, 0, 0, 0.64) 13.8918px 78.7845px 80px;*/
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.myphoto img:hover
{
	transition: 1s;
	transform: scale(1.2);
}
.social
{
	margin-top: 20px;
	display: flex;
	width: 100%;
}
.social i
{
	padding-right: 30px;
	font-size: 25px;
	color: #9a9b9c;
}
.social i:hover
{
	color: #1b1d20;
}
.multitopic{
	display: flex;
}
.multitopic .subtitle
{
	width: 50%;
}
.subtitle
{
	font-size: 30px;
}

.skillset
{
	flex:7;
}

.skillset ul li
{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	/*border: 1px solid #9a9b9c;*/
	height: 25px !important;
	margin:0px 30px 30px 0px;
	font-size: 20px;
	

}
.skillset ul li:hover
{
	background-color: #1b1d20;
	color: white;
	cursor: pointer;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/

}
.bucket
{
	flex:6;
	display: flex;
	justify-content: space-around;

}
.bucketouter
{
	width: 200px;
	border:1px solid #9a9b9c;
	height: 300px;
	transform: rotate(180deg);
	/*box-shadow: rgba(0, 0, 0, 0.64) 13.8918px -78.7845px 80px;*/

}
.bucketinner
{
	background-color: #ffffff;
	width: 100%;
}
.hcenter
{
	justify-content: space-around;
}
.longcard
{
	height: 150px;
	border:0px solid #9a9b9c;
	width: 90%;
	display: flex;
	margin:30px 0px 30px 0px;
}
.longcard:hover
{
	/*color: #1b1d20;
	background-color: #ffffff;*/
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/

}
.complogo
{
	flex:3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.compdet
{
	flex: 7;
	padding-left: 20px;
	padding-top: 20px;
}
.secondtext
{
	color: #9a9b9c;
}
.Experiences
{
	flex:6;
}
.education
{
	flex: 6;
}
.div .subtitle
{
	padding-bottom: 20px;
}
.live-slideshow
{
	border: none;
	width: 100%;
	height: 80vh;
}
footer
{
	background-color: #1b1d20;
	width: 100%; 
	height: 150px;
	display: flex;
	color: white;
}
.footertxt
{
	padding-left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	color:white; 
	flex:9;
}
.footerimg
{
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mob{
	display: none;
}
.mtagline
{
	display: none;
}

/*Mobile*/

@media screen and (max-width: 768px) {
.mtagline
{
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.multitopic{
	display: none;
}
.mob{
	display: unset;
}
.div
{
	padding-top: 40px;
}
.maincon{
	padding:40px 20px 20px 20px;
}
.logocon
{
	margin-bottom: 40px;
}
.subtitle
{
	display: flex;
	justify-content: center;
}
.aboutme
{
	flex:5;
}
.myphoto img
{
	flex:0;
	margin-top: 50px;
	width: 250px;
	height: 250px;
}
.mpt80
{
	padding-top: 80px;
}
.skillset
{
	flex:unset;
}
.social
{
	justify-content: space-between;
}
.social i
{
	padding-right: 0;
}
.tagline,.lcs,.complogo
{
	display: none;
}
.Experiences
{
	padding-bottom: 20%;
}
.footerimg
{
	display: none;
}
.footertxt
{
	font-size: 0.5rem;
	padding-left: 0;
}
}